HW4/data/cifar-10-batches-py/batches.meta
HW4/data/cifar-10-batches-py/data_batch_1
HW4/data/cifar-10-batches-py/data_batch_2
HW4/data/cifar-10-batches-py/data_batch_3
HW4/data/cifar-10-batches-py/data_batch_4
HW4/data/cifar-10-batches-py/data_batch_5
HW4/data/cifar-10-batches-py/readme.html
HW4/data/cifar-10-batches-py/test_batch
HW4/data/cifar-10-python.tar.gz
